# MineralChain React Frontend - variables d'environnement
# Copiez ce fichier en .env et remplissez vos valeurs

# Backend Flask
REACT_APP_BACKEND_URL=http://localhost:5000

# Pinata IPFS
REACT_APP_PINATA_JWT=your_pinata_jwt_here
REACT_APP_PINATA_GATEWAY=https://gateway.pinata.cloud

# Smart contract (Ganache)
REACT_APP_CONTRACT_ADDRESS=0x831A68CD2070d988f5baB3003cE7fa65A9B1ca78
REACT_APP_OWNER_ADDRESS=0x55AfEC6F4bE846e0ae800556B20aDda3d746bfB6
REACT_APP_GANACHE_URL=http://localhost:7545
