DATABASE_URL=postgresql://<user>:<password>@localhost:5432/mineralchain
AUTH_SECRET=change_me_in_local_dev
GANACHE_URL=http://127.0.0.1:7545
CONTRACT_ADDRESS=0x831A68CD2070d988f5baB3003cE7fa65A9B1ca78
PINATA_JWT=your_real_jwt_here
PINATA_API_KEY=your_pinata_api_key
PINATA_API_SECRET=your_pinata_api_secret
PINATA_GATEWAY=https://gateway.pinata.cloud
OWNER_PRIVATE_KEY=0x...
PORT=5000
