# MineralChain Mobile - variables d'environnement

EXPO_PUBLIC_API_BASE_URL=http://localhost:5000/api
EXPO_PUBLIC_CONTRACT_ADDRESS=0x831A68CD2070d988f5baB3003cE7fa65A9B1ca78
EXPO_PUBLIC_GANACHE_URL=http://127.0.0.1:7545
